.section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background__img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock {
  right: 0;
  left: 0;

  &__img {
    position: absolute;
    left: 15vw;
    top: 15vh;
    width: 6%;
    filter: brightness(0.6);
  }
}

.text__title {
  position: absolute;
  top: 40vh;
  left: 34vw;
  font-family: "AlphaCentauri";
  font-size: 5vw;
  font-weight: 900;
  color: #fff;
  letter-spacing: 20px;
  z-index: 1000;
}

.earth__img {
  position: absolute;
  left: 34vw;
  top: 25vh;
  width: 400px;
  height: 400px;
  z-index: 1;
  filter: brightness(0.7);
}

.middle {
  bottom: 0;
  right: 0px;

  &__img {
    position: absolute;
    bottom: 0px;
    left: -100px;
    width: 100%;
    z-index: 2;
    filter: brightness(0.8);
  }
}

.foreground {
  right: -50px;

  &__img {
    position: absolute;
    right: 0px;
    width: 400px;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
  }
}
