.section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background__img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;

  &__img {
    width: 40%;
  }
}

.text__title {
  font-family: "AlphaCentauri";
  font-size: 5vw;
  font-weight: 900;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 40vh;
  left: 34vw;
  z-index: 1000;
}

.earth__img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
}

.middle {
  left: -150px !important;
  bottom: -100px;
  top: unset !important;

  &__img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh;
    filter: brightness(0.8);
  }
}

.foreground {
  right: -50px;
  bottom: -200px;
  position: absolute;
  left: unset !important;

  &__img {
    width: 400px;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
  }
}
